<?xml version="1.0"?>
<launch>

<node name="ft_filter_mocap" type="ft_filter" pkg="wam_node" output="screen" >
  	<param name="ft_topic" value="/wam/ft_sensor/raw" />
  	<param name="filter_topic" value="/mocap/wam_probe/ft_sensor/filtered" />
  	<param name="frame_id" value="mocap/wam_probe/ft_sensor_link"/>
</node>

</launch>	